* { 
    padding:0px;
    font-family: Arial;
    font-size:11px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

header
{
    display:block;
    height:7px;
    
}
.divline
{
    background-color:black;
    border:solid 1px black;
    height:1px;
    margin-top:10px;
}
.header_line
{
    background-color:#888888;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    height:7px;
    margin-top:2px;
    margin-bottom:2px;
}
.sub_header_line
{
    background-color:#EBE9C3;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    height:7px;
    margin-top:5px;
    margin-bottom:5px;
}
.user_info
{
    float:right;
    width:auto;
    margin:auto;
}

.clstd
{

text-align:left;
}
.clstd:hover
{
background-color:#CCFF00;
text-align:left;
}

.center_div 
{
  display: inline-block;
  text-align:center;
  margin: 15px auto;
}
div nav ul
{
    text-align:center;
    margin:0px;
    padding:0px;
    height:50px;
    display:block;
}
ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align:center;
    list-style-type: none;
    margin-left: 6px 470px;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a:hover {
    background-color: seagreen;
}

li {
    display: inline;
   
}
.align_table
{
    margin-top:10px;
    width:auto;
    position:relative;
}
table
{
    width:100%;
    text-align:left;
}
table  thead tr th
{
    background-color:rgb(208,208,208);
    font-weight:normal;
    color:black;
    font-weight:bold;
    text-align:left;
}
table tr td 
{
     width:auto;
     text-align:left;
}
.textbox_align
{
text-align:left;
}

table tr td
{
    padding: 1px 1px;
}
.container
{
   width:auto;
   margin:0px auto;
   
}
.centerFieldset
 {
text-align:center;
}

.centerFieldset fieldset
 {
display:inline;
margin-left:auto;
margin-right:auto;
/*width:800px;*/
text-align:left;
 height: auto;
}
.alignptag 
{
    float: left;
    margin-left:65px;
    width:800px;
    height:400px;
    text-align:center;
    align-content:center;
    padding:12px 5px;
    
}
.col1
{
    float:none;
    
    width:auto;
    text-align:center;
}
.col2
{
    float:left;
    width:auto;
    text-align:center;
}
.col3
{
    float:right;
    width:auto;
    text-align:center;
}
.col4
{
    float:right;
    width:auto;
    text-align:center;
}

fieldset 
{
    align-content:center;
    margin-top:18px;
    width:1050px;
    height:800px;
    padding:18px 18px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    text-align:center;
    background-color:beige;
    box-shadow: 10px 10px 5px #888888;
}
.tableheader
{
    box-shadow: 0px  0px 0px 0px #888888  ;
    
     -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    margin-bottom:3px;
    margin-top:-5px;
}


.aligndiv
{
   
    width:950px;
    color:black;
    text-align:left;
    border-collapse:collapse;
    margin:auto;
    font-size:36px;
    background-color:white;
}

.alignh3:hover
{
    background-color:seagreen;
}

 .align_buttons
 {
    float: left;
    margin-top:14px;
    margin-left:175px;
    width:300px;
    text-align:center;
    
 }
 p
{
    text-align:  justify;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
   
    border-collapse:collapse;
    
    width : auto;
    float:none;
    padding:4px;
    
}
p:nth-child(2n+3)
{
        background-color: rgb(208,208,208);
        color:black;
}
p:nth-child(2n+4)
{
        background-color:rgb(208,208,208) ;
        color:black;
}
 
footer 
{
    text-align:center;
    width:970px;
    height:auto;
    margin:auto;
    background-color:rgb(208,208,208);
}
.button
 {
  font-size: 11px;
  font-weight: bold;
  font-family:  Arial;
  color: white;
  min-width: 54px;
  white-space: nowrap;   
  cursor: pointer;  
  outline: 0 none;
  padding:3px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  border:solid 1px black;
  background-color:#888888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#888888'); /* for IE */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#888888');
    height: 26px;
}



.nextbutton
 {
  font-size: 11px;
  font-weight: bold;
  font-family:  Arial;
  color: #ffffff;
  min-width: 54px;
  height: 24px; 
  white-space: nowrap;   
  cursor: pointer;  
  outline: 0 none;
  padding:3px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  border:solid 1px black;
  background-color:#888888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5384BE', endColorstr='#4386D7'); /* for IE */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5384BE', endColorstr='#4386D7'); /* for IE 8 and above */
  background: -webkit-gradient(linear, left top, left bottom, from(#5384BE), to(#4386D7)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #5384BE, #4386D7); /* for firefox 3.6+ */
  background: -o-linear-gradient(top, #5384BE, #4386D7); /* for Opera */
 }

.nextbutton:hover
{
    cursor: pointer;    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0', endColorstr='#579AEB'); /* for IE */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=' #85B6F0', endColorstr='#579AEB'); /* for IE 8 and above */
    background: -webkit-gradient(linear, left top, left bottom, from(#85B6F0),
    to(#579AEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #85B6F0, #579AEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top, #85B6F0, #579AEB); /* for Opera */
}
.sort
{
    text-align: left; 
    width: auto;
    background-color:#EBE9C3;
    border:solid none ;
    border-color:#EBE9C3;
    border-collapse:collapse;
}
.Table
    {
      display: table;
      margin-left: auto;
      margin-right: auto;
      width:100%;
      margin-bottom:2px;
      text-align:center;
      margin-top:4px;
     
    }
 .Row
    {
        display: table-row;
        border-collapse:collapse;
       
    }
    .Cell
    {
        display: table-cell;
        border-collapse:collapse;
        padding:1px 5px;
        text-align:left;
    }
.sortcell
{
        display: table-cell;
        border-collapse:collapse;
        padding:1px 5px;
        
        text-align:left;
        background-color:#EBE9C3;
}
.text_align
{
    text-align:left;
}

.drp_size
{
 
 font-size:10px;
 }
.s_nextbutton
 {
  font-size: 11px;
  font-weight: bold;
  font-family:  Arial;
  color: #ffffff;
  min-width: 54px;
  height: 24px; 
  white-space: nowrap;   
  cursor: pointer;  
  outline: 0 none;
  padding:3px;
  text-align: center;
  border-radius: 2px 2px 2px 2px;
  border:solid 1px black;
  background-color:#888888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5384BE', endColorstr='#4386D7'); /* for IE */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5384BE', endColorstr='#4386D7'); /* for IE 8 and above */
  background: -webkit-gradient(linear, left top, left bottom, from(#5384BE), to(#4386D7)); /* for webkit browsers */
  background: -moz-linear-gradient(top, #5384BE, #4386D7); /* for firefox 3.6+ */
  background: -o-linear-gradient(top, #5384BE, #4386D7); /* for Opera */
 }